@media screen and (min-width: 850px) {
main {
    background: #F0F0F0 url(berlinerhocker.figur.01.crop.jpg) no-repeat;
    background-position: top; 
    padding: 1.2rem;
    box-shadow:  11px 11px 22px #b5b9bf,
                -11px -11px 22px #ffffff;
    border-radius: 32px;
    max-width: 800px;
}
}

@media screen and (min-width: 850px) {
.col-sm {
    margin-bottom: 2rem;
    margin: 1.4rem;
    padding: 1.2rem;
    border-radius: 32px;
    box-shadow:  11px 11px 22px #b5b9bf,
                -11px -11px 22px #ffffff;
}
}
